<!DOCTYPE html>
<html>
<head>
	<title>Animated Login Form</title>
	<link rel="stylesheet" type="text/css" href="{{asset('loginAdmin/css/style.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<img class="wave" src="{{asset('loginAdmin/img/wave.png')}}">
    <div class="container">
        <div class="img">
            <img src="{{asset('loginAdmin/img/bg.svg')}}">
        </div>
        <div class="login-content">
					Account Login
				</span>

       <center>  <p style="color:#E7DFDF;font-size:12px;">
        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p></center>
    <br>
   <center> <p style="color:#E7DFDF; font-size:15px;">If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}"><center><b style="color:#720000;">try again.</b></center></a></p></center>
    </div>
    </div>
    </div>

   </div>
    </div>
    <script type="text/javascript" src="{{asset('loginAdmin/js/main.js')}}"></script>
</body>
</html>