{% block body %}
    <!DOCTYPE html>
<html>
<head>
	<title>Animated Login Form</title>
	<link rel="stylesheet" type="text/css" href="{{asset('loginAdmin/css/style.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <img class="wave" src="{{asset('loginAdmin/img/wave.png')}}">
    <div class="container">
        <div class="img">
            <img src="{{asset('loginAdmin/img/bg.svg')}}">
        </div>
    <div class="login-content"> 
    <h1>Reset your password</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Reset password</button>
    {{ form_end(resetForm) }}
{% endblock %}