{% extends 'baseEmploye.html.twig' %}

{% block body %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>les Demandes de Virements</title>
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
        <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="assets/plugins/datatables/datatables.min.css">
        <link rel="stylesheet" href="assets/css/feathericon.min.css">
        <link rel="stylesheet" href="assets/plugins/morris/morris.css">
        <link rel="stylesheet" href="assets/css/style.css"> </head>
    <style>
        /* Couleur verte pour les éléments approuvés */
         . approuvé {
            color: green;
        }

        /* Couleur rouge pour les éléments refusés */
        .refuse {
            color: red;
        }

    </style>

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="row">
                <br class="col-sm-12">
                <br> <br>
                <div class="card card-table">
                    <br> <br>
                    <h1 class="text-center" style="font-size: 24px;"> les Demande de Virement</h1>
                    <div class="card-body booking_card">
                        <div class="table-responsive">
                            <table class="datatable table table-stripped table table-hover table-center mb-0">
                                <thead>
                                <tr>
                                    <th>RIB</th>
                                    <th>Nom et Prenom</th>
                                    <th>Cin</th>
                                    <th>Type de Virement</th>
                                    <th>Transférez A</th>
                                    <th>Numéro de Bénéficiaire</th>
                                    <th>Montant</th>
                                    <th class="text-right">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in virements  %}
                                    <tr>
                                        <td>{{ i.compte}}</td>
                                        <td>
                                            <h2 class="table-avatar">
                                                <a>{{ i.NometPrenom }}</a>
                                            </h2>
                                        </td>
                                        <td>{{ i.Cin }}</td>
                                        <td>{{ i.Email }}</td>
                                        <td>{{ i.TypeVirement }}</td>
                                        <td>{{i.transferezA}}</td>
                                        <td>{{ i.NumBeneficiare }}</td>
                                        <td>{{ i.Montant }}</td>

                                        <td>
                                            <div class="actions"> <a href="#" class="btn btn-sm bg-success-light mr-2">Choisir</a> </div>
                                        </td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action"> <a  class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v ellipse_color"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item approuvé" href="{{ path('ApprouverVirementEmp',{'id':i.id}) }}"><i class="fas fa-pencil-alt m-r-5"></i> Approuvé</a>
                                                    <a class="dropdown-item refuse" href="{{ path('deleteVirementEmp',{'id':i.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer cet élément ?');"><i class="fa fa-trash"></i> Refuser</a>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}