{% extends 'baseEmploye.html.twig' %}

    {% block body %}
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
            <title>Hotel Dashboard Template</title>
            <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
            <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
            <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
            <link rel="stylesheet" href="assets/plugins/datatables/datatables.min.css">
            <link rel="stylesheet" href="assets/css/feathericon.min.css">
            <link rel="stylesheet" href="assets/plugins/morris/morris.css">
            <link rel="stylesheet" href="assets/css/style.css"> </head>

        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="row">
                    <br class="col-sm-12">
                    <br> <br>
                    <div class="card card-table">
                        <br> <br>
                        <h1 class="text-center" style="font-size: 24px;"> liste des Virements Bancaire</h1>
                        <div class="card-body booking_card">
                            <div class="table-responsive">
                                <table class="datatable table table-stripped table table-hover table-center mb-0">
                                    <thead>
                                    <tr>

                                        <th><strong>RIB</strong></th>
                                        <th><strong>Nom et Prenom</strong></th>
                                        <th><strong>Cin</strong></th>
                                        <th><strong>Email</strong></th>
                                        <th><strong>Type de Virement</strong></th>
                                        <th><strong>Transférez A </strong></th>
                                        <th><strong>Numéro de Bénéficiaire</strong></th>
                                        <th><strong>Montant</strong></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in virements  %}
                                        <tr>

                                            <td><strong>{{ i.compte }}</strong></td>
                                            <td>{{ i.NometPrenom }}</td>
                                            <td>{{ i.Cin }}</td>
                                            <td>{{ i.Email }}</td>
                                            <td>{{ i.TypeVirement }}</td>
                                            <td>{{i.transferezA}}</td>
                                            <td>{{ i.NumBeneficiare }}</td>
                                            <td>{{ i.Montant }}</td>


                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
