 {% extends 'baseclient.html.twig' %}
{% block recherche %}
        <div class="input-group">
          <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
          <input type="text" class="form-control" id="searchInput" placeholder="Tapez ici...">
        </div>
        <script>
     function filterTable() {
const filter = document.getElementById('searchInput').value.toUpperCase();
const rows = document.querySelectorAll('table tr');
for (let i = 1; i < rows.length; i++) {
const cols = rows[i].querySelectorAll('td');
let visible = false;
for (let j = 0; j < cols.length; j++) {
const cell = cols[j];
if (cell.innerText.toUpperCase().indexOf(filter) > -1) {
visible = true;
break;
}
}
rows[i].style.display = visible ? '' : 'none';
}
}
document.getElementById('searchInput').addEventListener('keyup', filterTable);</script>
        {% endblock %}
        {% block body %}
  <!--**********************************
            Content body start
        ***********************************-->
             <body class="g-sidenav-show  bg-gray-100">

     <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

 <div class="container-fluid py-4">

 <div class="mb-4 text-end">
    <a href="{{ path('app_project_newC') }}" class="btn btn-primary btn-rounded fs-18">+ Nouveau projet</a>
</div>
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Liste des projets</h6>
            </div>

            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
 <table class="table align-items-center mb-0">

                  <thead>

                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nom de client</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nom de projet</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Categorie</th>
                                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>

                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Description</th>
                                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Budget</th>

                     <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">statut</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                                            {% for project in projects %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
<img src="{{ asset('uploads/' ~ project.img) }}" class="avatar avatar-sm me-3" alt="user1">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{project.user.name ?? 'Admin' }}</h6>
                            <p class="text-xs text-secondary mb-0">{{project.user.email ?? 'Admin' }}</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{ project.nomProjet }}</p>
                        <p class="text-xs text-secondary mb-0">Orgaonisatin</p>
                      </td>

                       <td>
                        <p class="text-xs font-weight-bold mb-0">{{ project.categorie }}</p>
                        <p class="text-xs text-secondary mb-0">Organisation</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success">{{ project.dateCreation ? project.dateCreation|date('Y-m-d') : '' }}</span>
                      </td>
                       <td>
                        <p class="text-xs font-weight-bold mb-0">{{ project.descriptionProjet }}</p>
                        <p class="text-xs text-secondary mb-0">Organisation</p>
                      </td>


                       <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{ project.budgetprojet }}</span>
                      </td>
                        <td class="align-middle text-center">
                        {% if 50 < project.statutProjet  %}

                        <div class="d-flex align-items-center justify-content-center">
                          <span class="me-2 text-xs font-weight-bold">{{ project.statutProjet }}%</span>
                          <div>
                            <div class="progress">
                              <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="{{ project.statutProjet }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.statutProjet }}%;"></div>
                            </div>
                          </div>
                        </div>

                        {% else %}

                        <div class="d-flex align-items-center justify-content-center">
                          <span class="me-2 text-xs font-weight-bold">{{ project.statutProjet }}%</span>
                          <div>
                            <div class="progress">
                              <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="{{ project.statutProjet }}" aria-valuemin="0" aria-valuemax="30" style="width: {{ project.statutProjet }}%;"></div>
                            </div>
                          </div>
                        </div>
                        {% endif %}

                      </td>
                      <td class="align-middle">

                        <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto" href="{{ path('app_project_indexshowsA', {'id': project.id}) }}">show</a>
                      </td>
                    </tr>
        {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>

    </main>

    </body>

        <!--**********************************
            Content body end
        ***********************************-->

{% endblock %}
