 {% extends 'baseadmin.html.twig' %}

        {% block body %}
        
 
<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-12">
						<div class="card">
							<div class="card-body">
								<div class="d-flex align-items-center justify-content-between flex-wrap">
									<div class="mb-3">
										<h2 class="fs-24 font-w700">CodeWave</h2>
										<span>Créé par <strong>Ayoub Mekni</strong> le 31 juin 2020</span>
										<div class="d-flex align-items-center mt-4 flex-wrap">
											<ul class="kanbanimg me-3 mb-3">
												   <li><img src="{{ asset('images/profile/small/pic1.jpg') }}" alt=""></li>
    <li><img src="{{ asset('images/profile/small/pic2.jpg') }}" alt=""></li>
    <li><img src="{{ asset('images/profile/small/pic3.jpg') }}" alt=""></li>
    <li><img src="{{ asset('images/profile/small/pic4.jpg') }}" alt=""></li>
    <li><img src="{{ asset('images/profile/small/pic5.jpg') }}" alt=""></li>
<li><span>5+</span></li>
											</ul>
											<div class="ms-4 invite mb-3">
 												<a href="javascript:void(0);" class="btn btn-outline-light btn-rounded btn-md me-2 mb-2">Modifier</a>
 												<a href="javascript:void(0);" class="btn btn-outline-light btn-rounded btn-md mb-2"><i class="far fa-comment-alt scale5 text-primary me-3"></i>45 commentaires</a>
											</div>
										</div>	
									</div>
									<div class="mb-3">
										<div class="d-flex align-items-center mb-4 pb-3 justify-content-end flex-wrap">
											<div class="me-3">
												<h4 class="fs-18 font-w600">CodeWave</h4>
												<span>société de développement</span>
											</div>
											<div class="facebook-icon me-3">
												<a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
											</div>
											<div>
												<div class="dropdown">
													<div class="btn-link" data-bs-toggle="dropdown">
														<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
															<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
															<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
															<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
														</svg>
													</div>
													<div class="dropdown-menu dropdown-menu-right">
														<a class="dropdown-item" href="javascript:void(0)">Delete</a>
														<a class="dropdown-item" href="javascript:void(0)">Edit</a>
													</div>
												</div>
											</div>
										</div>
										<div class="d-flex  justify-content-end align-items-center">
											<span class="fs-16 font-w600 me-3">Total Progress 60%</span>
											<div class="progress default-progress flex-1">
												<div class="progress-bar bg-gradient1 progress-animated" style="width: 45%; height:10px;" role="progressbar">
													<span class="sr-only">45% Complete</span>
												</div>
											</div>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
					
				</div>	
					

<div class="row">
					<div class="col-xl-12">
						<div class="card">
							<div class="card-body">
								<div class="d-flex align-items-center justify-content-between flex-wrap">
									<div class="mb-3">
										<h2 class="fs-24 font-w700">Webmedia</h2>
										<span>Créé par <strong>Ayoub Mekni</strong> n le 31 juin 2020</span>
										<div class="d-flex align-items-center mt-4 flex-wrap">
											<ul class="kanbanimg me-3 mb-3">
										
    <li><img src="{{ asset('images/profile/small/pic1.jpg') }}" alt=""></li>
    <li><img src="{{ asset('images/profile/small/pic2.jpg') }}" alt=""></li>
    <li><img src="{{ asset('images/profile/small/pic3.jpg') }}" alt=""></li>
    <li><img src="{{ asset('images/profile/small/pic4.jpg') }}" alt=""></li>
    <li><img src="{{ asset('images/profile/small/pic5.jpg') }}" alt=""></li>

		<li><span>5+</span></li>
											</ul>
											<div class="ms-4 invite mb-3">
 												<a href="javascript:void(0);" class="btn btn-outline-light btn-rounded btn-md me-2 mb-2">Edit</a>
												<a href="javascript:void(0);" class="btn btn-outline-light btn-rounded btn-md me-2 mb-2">Private</a>
												<a href="javascript:void(0);" class="btn btn-outline-light btn-rounded btn-md mb-2"><i class="far fa-comment-alt scale5 text-primary me-3"></i>45 commentaires</a>
											</div>
										</div>	
									</div>
									<div class="mb-3">
										<div class="d-flex align-items-center mb-4 pb-3 justify-content-end flex-wrap">
											<div class="me-3">
												<h4 class="fs-18 font-w600">Webmedia</h4>
												<span>société de développement</span>
											</div>
											<div class="facebook-icon me-3">
												<a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
											</div>
											<div>
												<div class="dropdown">
													<div class="btn-link" data-bs-toggle="dropdown">
														<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
															<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
															<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
															<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
														</svg>
													</div>
													<div class="dropdown-menu dropdown-menu-right">
														<a class="dropdown-item" href="javascript:void(0)">Delete</a>
														<a class="dropdown-item" href="javascript:void(0)">Edit</a>
													</div>
												</div>
											</div>
										</div>
										<div class="d-flex  justify-content-end align-items-center">
											<span class="fs-16 font-w600 me-3">Progrès total 60 %</span>
											<div class="progress default-progress flex-1">
												<div class="progress-bar bg-gradient1 progress-animated" style="width: 45%; height:10px;" role="progressbar">
													<span class="sr-only">45 commentaires</span>
												</div>
											</div>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
					
				</div>	
				
                <div class="row">
					<div class="col-xl-12">
						<div class="card">
							<div class="card-body">
								<div class="d-flex align-items-center justify-content-between flex-wrap">
									<div class="mb-3">
										<h4 class="fs-24 font-w700">Fillow Company Profile Website Phase 1</h4>
										<span>Created by <strong>Hajime Mahmude</strong> n on June 31, 2020</span>
										<div class="d-flex align-items-center mt-4 flex-wrap">
											<ul class="kanbanimg me-3 mb-3">
											   <li><img src="{{ asset('images/profile/small/pic1.jpg') }}" alt=""></li>
    <li><img src="{{ asset('images/profile/small/pic2.jpg') }}" alt=""></li>
    <li><img src="{{ asset('images/profile/small/pic3.jpg') }}" alt=""></li>
    <li><img src="{{ asset('images/profile/small/pic4.jpg') }}" alt=""></li>
    <li><img src="{{ asset('images/profile/small/pic5.jpg') }}" alt=""></li>
	<li><span>5+</span></li>
											</ul>
											<div class="ms-4 invite mb-3">
												<a href="javascript:void(0);" class="btn btn-primary light btn-rounded btn-md me-2 mb-2"><i class="fas fa-user-plus me-3 scale5"></i>Invite People</a>
												<a href="javascript:void(0);" class="btn btn-outline-light btn-rounded btn-md me-2 mb-2">Edit</a>
												<a href="javascript:void(0);" class="btn btn-outline-light btn-rounded btn-md me-2 mb-2">Private</a>
												<a href="javascript:void(0);" class="btn btn-outline-light btn-rounded btn-md mb-2"><i class="far fa-comment-alt scale5 text-primary me-3"></i>45 Comments</a>
											</div>
										</div>	
									</div>
									<div class="mb-3">
										<div class="d-flex align-items-center mb-4 pb-3 justify-content-end flex-wrap">
											<div class="me-3">
												<h4 class="fs-18 font-w600">Fillow Studios</h4>
												<span>Software House</span>
											</div>
											<div class="facebook-icon me-3">
												<a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
											</div>
											<div>
												<div class="dropdown">
													<div class="btn-link" data-bs-toggle="dropdown">
														<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
															<circle cx="12.4999" cy="3.5" r="2.5" fill="#A5A5A5"></circle>
															<circle cx="12.4999" cy="11.5" r="2.5" fill="#A5A5A5"></circle>
															<circle cx="12.4999" cy="19.5" r="2.5" fill="#A5A5A5"></circle>
														</svg>
													</div>
													<div class="dropdown-menu dropdown-menu-right">
														<a class="dropdown-item" href="javascript:void(0)">Delete</a>
														<a class="dropdown-item" href="javascript:void(0)">Edit</a>
													</div>
												</div>
											</div>
										</div>
										<div class="d-flex  justify-content-end align-items-center">
											<span class="fs-16 font-w600 me-3">Progrès total 60 %</span>
											<div class="progress default-progress flex-1">
												<div class="progress-bar bg-gradient1 progress-animated" style="width: 45%; height:10px;" role="progressbar">
													<span class="sr-only">45% Complete</span>
												</div>
											</div>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
					
				</div>	
				


				</div>	
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
		
{% endblock %}