
{% extends 'yesser.html.twig' %}
{% block title %} Recrutement {% endblock %}
 {% block stylsheet %}

{% endblock %}
{% block body %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <body style="background:#7c7b7b;">
{#    {{ form_start(form) }}#}
{#    {{ form_row(form._token) }}#}

{#     <div style="position: relative; margin-top: 100px; text-align: center; padding-bottom: 15px;padding-left:200px;padding-right: 730px; color: #fff; text-shadow: 0 5px 10px rgba(0, 0, 0, .2); font-size: 20px; height: fit-content(50px);">#}
{#        <div class="d-flex justify-content-end">#}
{#             <form class="form-control"  action="{{ path('Recherche') }}">#}

{#                    <input type="number" name="numero" placeholder="Saisir votre numéro"  style="position: relative; text-align: center;#}
{#                        padding-bottom: 15px;#}
{#                        color:#fff;#}
{#                        text-shadow: 0 5px 10px rgba(0,0,0,.2);#}
{#                        font-size: 12px; height:auto;">#}
{#                 <div >  <button class="btn btn-outline-success" type="submit" style="">Search</button></div>#}

{#             </form>#}
{#        </div>#}
{#     </div>#}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <div style="position: relative; margin-top: 190px; text-align: center; padding-bottom: 15px;padding-left:200px;padding-right: 730px; color: #fff; text-shadow: 0 5px 10px rgba(0, 0, 0, .2); font-size: 50px; height: auto;">
            <div class="d-flex justify-content-end">
                <form class="form-inline" role="search" action="{{ path('Recherche')}}">
                    <div style="border: 3px #0D0A0A; width: 10em;">
                        <label>
                            <input class="form-control me-2" name="numero"
                                   placeholder="Saisir votre numéro pour suivre vos demande" style=" border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;width: 80%">
{#                            {{ form_widget(form.numero, {'attr': {'class': 'form-control me-2', 'placeholder': 'Saisir#}
{#                            votre numéro pour suivre vos demande','name': 'numero'}}) }}#}
                        </label>

                         <a href="{{ path('Recherche')}}"> <button class="btn btn-primary" type="submit" style="width: 50%">Search</button></a>
                    </div>
                </form>
            </div>
        </div>

{#    #}
    <div style="position: relative; text-align: center; padding-bottom: 15px;padding-right: 420px; color: #fff; text-shadow: 0 5px 10px rgba(0, 0, 0, .2); font-size: 50px; height: auto;">
        <div class="d-flex justify-content-end">
            <div  style="margin-right: 650px"><a href="{{ 'demandeStage' }}"> <button class="btn btn-primary "> Demande stage sans offre</button></a></div>
            <form class="form-inline" action="{{ path('RechercheDomaine') }}" >
{#                <input class="form-control" type="" style="margin-right: 10px;margin-top: 10px">#}
                <label>
                    <select name="domaine" class="form-control" style="margin-top: 10px;margin-right: 10px;width: 160%">
                        <option value="Informatique">Informatique</option>
                        <option value="Finance">Finance</option>
                        <option value="Comptabilité" >Comptabilité</option>
                        <option value="Management">Management</option>
                        <option value="Marketing">Marketing</option>
                        <option value="RH">RH</option>
                    </select>
                </label>
                <div  ><a href="{{ 'RechercheDomaine' }}"> <button type="submit" class="btn btn-primary "> filtrer par domaine</button></a></div>
{#               {{ form_widget(form.domaine, {'attr': {'class': 'form-control', 'placeholder': 'domaine'}}) }}#}
            </form>
        </div>
    </div>

    <div class="container"
         style="
            position: relative; text-align: center;
            padding-bottom: 15px;
            color:#fff;
            text-shadow: 0 5px 10px rgba(0,0,0,.2);
            font-size: 50px; height:auto;" >

        <div class="box-container" style="display: grid;
            /*grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));*/
            gap:15px;
            flex-direction: column;
            align-items: center; border-radius: 20px;text-align: center;">
            {% if offres is empty %}
            <h1> n'a pas d'offres </h1>
            {% else %}
            {% for i in offres %}

                <tr>
                <div class="box" style="margin-top: 10px; -ms-background-position-x: center;box-shadow: 0 5px 10px rgba(0,0,0,.2);
                    border-radius: 20px;
                    background: #fff;
                    text-align: center;
                    padding:30px 20px;direction:revert " onmouseover="this.style.transform='scale(1.02)'"
                     onmouseout="this.style.transform='scale(1)'">



                    <div class="box" style="margin-top: 30px">
                        <img src="{{ asset('image/icon-1.png') }}" alt="" style="height: 80px;">
                        <h3 style=" color:#444;
                                font-size: 22px;
                                padding:10px 0;">{{ i.title }}</h3>
                        <p style="color:#777;
                                    font-size: 15px;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                    line-height: 1.5;">{{ i.description }}</p>
                        <a href="{{ path('DetailsOffre', {'id':i.id})}}" class="btn" style="margin-top: 10px;
                               display: inline-block;
                               background:#333;
                               color:#fff;
                               font-size: 17px;
                               border-radius: 5px;
                               padding: 8px 25px;
                               box-shadow: 0 10px 15px rgba(0,0,0,.3);
                               transform: scale(1.03);"
                           >
                            read more
                        </a>



                    </div>


                 </div>
                </tr>
            {% endfor %}
            {% endif %}
        </div>
    </div>



    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}