{% extends 'baseadmin.html.twig' %}

{% block body %}




<link href="{{ asset('vendor/jquery-nice-select/css/nice-select.css') }}" rel="stylesheet">

<!-- Style css -->
<link href="{{ asset('css/style.css') }}" rel="stylesheet">


		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
		<div class="container-fluid">

 <div class="project-page d-flex justify-content-between align-items-center flex-wrap">
					<div class="project mb-4">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-bs-toggle="tab" href="#AllStatus" role="tab">Tous les evenements</a>
							</li>
							<li class="nav-item">
 							</li>
							<li class="nav-item">
 							</li>
							<li class="nav-item">
 							</li>
						</ul>
					</div>
					<div class="mb-4">
						<a href="{{ path('app_evenement_new') }}" class="btn btn-primary btn-rounded fs-18">+ Nouveau evenement</a>
 
					</div>
				</div> 
            <!-- row -->
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-12">
						 </div>
					
				</div>	
				<div class="row kanban-bx">
					<div class="col">
						<div class="kanbanPreview-bx">
							<div class="draggable-zone dropzoneContainer">

        {% for evenement in evenements %}


								<div class="card draggable-handle draggable">
									<div class="card-body">
										<div class="d-flex justify-content-between mb-2">
											<span class="sub-title">
												<svg class="me-2" width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
													<circle cx="5" cy="5" r="5" fill="#FFA7D7"></circle>
												</svg>
												CodeWave
											</span>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="3.5" cy="11.5" r="2.5" transform="rotate(-90 3.5 11.5)" fill="#717579"></circle>
														<circle cx="11.5" cy="11.5" r="2.5" transform="rotate(-90 11.5 11.5)" fill="#717579"></circle>
														<circle cx="19.5" cy="11.5" r="2.5" transform="rotate(-90 19.5 11.5)" fill="#717579"></circle>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="{{ path('app_evenement_delete', {'id': evenement.id}) }}" >Supprimer</a>
													<a class="dropdown-item" href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">Modifier</a>
													<a class="dropdown-item" href="{{ path('app_evenement_show', {'id': evenement.id}) }}">afficher</a>

												</div>
											</div>
										</div>
										<p class="font-w600 fs-18"><a href="javascript:void(0);" class="text-black">{{ evenement.description }}</a></p>
										
										<div class="row justify-content-between align-items-center kanban-user">
											<ul class="users col-6">
											<li><img src="{{ asset('images/contacts/pic11.jpg') }}" alt=""></li>
                                             <li><img src="{{ asset('images/contacts/pic22.jpg') }}" alt=""></li>
                                             <li><img src="{{ asset('images/contacts/pic33.jpg') }}" alt=""></li>
                                            </ul>
											<div class="col-6 d-flex justify-content-end">
												<span class="fs-14"><i class="far fa-clock me-2"></i>Due in 4 days</span>
											</div>
										</div>
									</div>
								</div>

        {% endfor %}




								<div class="card draggable-handle draggable">
									<div class="card-body">
										<div class="d-flex justify-content-between mb-2">
											<span class="text-warning">
												<svg class="me-2" width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
													<circle cx="5" cy="5" r="5" fill="#FFCF6D"></circle>
												</svg>
												PixelTech Solutions 
											</span>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="3.5" cy="11.5" r="2.5" transform="rotate(-90 3.5 11.5)" fill="#717579"></circle>
														<circle cx="11.5" cy="11.5" r="2.5" transform="rotate(-90 11.5 11.5)" fill="#717579"></circle>
														<circle cx="19.5" cy="11.5" r="2.5" transform="rotate(-90 19.5 11.5)" fill="#717579"></circle>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="javascript:void(0)">Delete</a>
													<a class="dropdown-item" href="javascript:void(0)">Edit</a>
												</div>
											</div>
										</div>
										<p class="font-w600 fs-18"><a href="javascript:void(0);" class="text-black">Créer des solutions numériques pixel par pixel.</a></p>
										<div class="progress default-progress my-4">
											<div class="progress-bar bg-warning progress-animated" style="width: 45%; height:10px;" role="progressbar">
												<span class="sr-only">45% Complete</span>
											</div>
										</div>
										<div class="row justify-content-between align-items-center kanban-user">
											<ul class="users col-6">
											<li><img src="{{ asset('images/contacts/pic11.jpg') }}" alt=""></li>
<li><img src="{{ asset('images/contacts/pic22.jpg') }}" alt=""></li>
<li><img src="{{ asset('images/contacts/pic33.jpg') }}" alt=""></li>
<li><img src="{{ asset('images/contacts/pic222.jpg') }}" alt=""></li>
</ul>
											<div class="col-6 d-flex justify-content-end">
												<span class="fs-14"><i class="far fa-clock me-2"></i>À rendre dans 10 jours</span>
											</div>
										</div>
									</div>
								</div>
									</div>
						</div>
					</div>
					<div class="col">
						<div class="kanbanPreview-bx">
							<div class="draggable-zone dropzoneContainer">
							
								<div class="card draggable-handle draggable">
									<div class="card-body">
										<div class="d-flex justify-content-between mb-2">
											<span class="text-sucess">
												<svg class="me-2" width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
													<circle cx="5" cy="5" r="5" fill="#09BD3C"></circle>
												</svg>
												TechVolution 
											</span>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="3.5" cy="11.5" r="2.5" transform="rotate(-90 3.5 11.5)" fill="#717579"></circle>
														<circle cx="11.5" cy="11.5" r="2.5" transform="rotate(-90 11.5 11.5)" fill="#717579"></circle>
														<circle cx="19.5" cy="11.5" r="2.5" transform="rotate(-90 19.5 11.5)" fill="#717579"></circle>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="javascript:void(0)">Delete</a>
													<a class="dropdown-item" href="javascript:void(0)">Edit</a>
												</div>
											</div>
										</div>
										<p class="font-w600 fs-18"><a href="javascript:void(0);" class="text-black">Évoluer avec la technologie.</a></p>
										<div class="progress default-progress my-4">
											<div class="progress-bar bg-success progress-animated" style="width: 45%; height:10px;" role="progressbar">
												<span class="sr-only">45 % terminé</span>
											</div>
										</div>
										<div class="row justify-content-between align-items-center kanban-user">
											<ul class="users col-6">
											<li><img src="{{ asset('images/contacts/pic11.jpg') }}" alt=""></li>
<li><img src="{{ asset('images/contacts/pic22.jpg') }}" alt=""></li>
<li><img src="{{ asset('images/contacts/pic33.jpg') }}" alt=""></li>
</ul>
											<div class="col-6 d-flex justify-content-end">
												<span class="fs-14"><i class="far fa-clock me-2"></i>Due in 4 days</span>
											</div>
										</div>
									</div>
								</div>
								<div class="card draggable-handle draggable">
									<div class="card-body">
										<div class="d-flex justify-content-between mb-2">
											<span class="text-info">
												<svg class="me-2" width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
													<circle cx="5" cy="5" r="5" fill="#D653C1"></circle>
												</svg>
												CodeProjet 
											</span>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="3.5" cy="11.5" r="2.5" transform="rotate(-90 3.5 11.5)" fill="#717579"></circle>
														<circle cx="11.5" cy="11.5" r="2.5" transform="rotate(-90 11.5 11.5)" fill="#717579"></circle>
														<circle cx="19.5" cy="11.5" r="2.5" transform="rotate(-90 19.5 11.5)" fill="#717579"></circle>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="javascript:void(0)">Delete</a>
													<a class="dropdown-item" href="javascript:void(0)">Edit</a>
												</div>
											</div>
										</div>
										<p class="font-w600 fs-18"><a href="javascript:void(0);" class="text-black">Transformer les idées en projets concrets.</a></p>
										<div class="progress default-progress my-4">
											<div class="progress-bar bg-info progress-animated" style="width: 45%; height:10px;" role="progressbar">
												<span class="sr-only">45% Complete</span>
											</div>
										</div>
										<div class="row justify-content-between align-items-center kanban-user">
											<ul class="users col-6">
											<li><img src="{{ asset('images/contacts/pic11.jpg') }}" alt=""></li>
<li><img src="{{ asset('images/contacts/pic22.jpg') }}" alt=""></li>
<li><img src="{{ asset('images/contacts/pic33.jpg') }}" alt=""></li>
</ul>
											<div class="col-6 d-flex justify-content-end">
												<span class="fs-14"><i class="far fa-clock me-2"></i>À rendre dans 6 jours</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="kanbanPreview-bx">
							<div class="draggable-zone dropzoneContainer">
								
								<div class="card draggable-handle draggable">
									<div class="card-body">
										<div class="d-flex justify-content-between mb-2">
											<span class="text-danger">
												<svg class="me-2" width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
													<circle cx="5" cy="5" r="5" fill="#FC2E53"></circle>
												</svg>
												CodeVision 
											</span>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="3.5" cy="11.5" r="2.5" transform="rotate(-90 3.5 11.5)" fill="#717579"></circle>
														<circle cx="11.5" cy="11.5" r="2.5" transform="rotate(-90 11.5 11.5)" fill="#717579"></circle>
														<circle cx="19.5" cy="11.5" r="2.5" transform="rotate(-90 19.5 11.5)" fill="#717579"></circle>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="javascript:void(0)">Delete</a>
													<a class="dropdown-item" href="javascript:void(0)">Edit</a>
												</div>
											</div>
										</div>
										<p class="font-w600 fs-18"><a href="javascript:void(0);" class="text-black">Une vision, un code, une réalité.</a></p>
										<div class="progress default-progress my-4">
											<div class="progress-bar bg-danger progress-animated" style="width: 45%; height:10px;" role="progressbar">
												<span class="sr-only">45% Complete</span>
											</div>
										</div>
										<div class="row justify-content-between align-items-center kanban-user">
											<ul class="users col-6">
											<li><img src="{{ asset('images/contacts/pic11.jpg') }}" alt=""></li>
<li><img src="{{ asset('images/contacts/pic22.jpg') }}" alt=""></li>
<li><img src="{{ asset('images/contacts/pic33.jpg') }}" alt=""></li>
</ul>
											<div class="col-6 d-flex justify-content-end">
												<span class="fs-14"><i class="far fa-clock me-2"></i>À rendre dans 9 jours</span>
											</div>
										</div>
									</div>
								</div>
								<div class="card draggable-handle draggable">
									<div class="card-body">
										<div class="d-flex justify-content-between mb-2">
											<span class="text-danger">
												<svg class="me-2" width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
													<circle cx="5" cy="5" r="5" fill="#FC2E53"></circle>
												</svg>
												NexTech Solutions
											</span>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="3.5" cy="11.5" r="2.5" transform="rotate(-90 3.5 11.5)" fill="#717579"></circle>
														<circle cx="11.5" cy="11.5" r="2.5" transform="rotate(-90 11.5 11.5)" fill="#717579"></circle>
														<circle cx="19.5" cy="11.5" r="2.5" transform="rotate(-90 19.5 11.5)" fill="#717579"></circle>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="javascript:void(0)">Delete</a>
													<a class="dropdown-item" href="javascript:void(0)">Edit</a>
												</div>
											</div>
										</div>
										<p class="font-w600 fs-18"><a href="javascript:void(0);" class="text-black">Des solutions pour un monde connecté.</a></p>
										<div class="progress default-progress my-4">
											<div class="progress-bar bg-danger progress-animated" style="width: 45%; height:10px;" role="progressbar">
												<span class="sr-only">45% Complete</span>
											</div>
										</div>
										<div class="row justify-content-between align-items-center kanban-user">
											<ul class="users col-6">
										<li><img src="{{ asset('images/contacts/pic11.jpg') }}" alt=""></li>
<li><img src="{{ asset('images/contacts/pic22.jpg') }}" alt=""></li>
<li><img src="{{ asset('images/contacts/pic33.jpg') }}" alt=""></li>
	</ul>
											<div class="col-6 d-flex justify-content-end">
												<span class="fs-14"><i class="far fa-clock me-2"></i>À rendre dans 3 jours</span>
											</div>
										</div>
									</div>
								</div>
								</div>
						</div>
					</div>
					<div class="col">
						<div class="kanbanPreview-bx">
							<div class="draggable-zone dropzoneContainer">
								<div class="sub-card align-items-center justify-content-between d-flex text-white">
									 
									<div class="plus-bx">
										<a href="javascript:void(0)"><i class="fas fa-plus"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col">
						<div class="kanbanPreview-bx">
							<div class="draggable-zone dropzoneContainer">
								<div class="sub-card align-items-center d-flex justify-content-between mb-4">
								 
									<div class="plus-bx">
										<a href="javascript:void(0)"><i class="fas fa-plus"></i></a>
									</div>
								</div>
								<div class="card draggable-handle draggable">
									<div class="card-body">
										<div class="d-flex justify-content-between mb-2">
											<span class="text-sucess">
												<svg class="me-2" width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
													<circle cx="5" cy="5" r="5" fill="#09BD3C"></circle>
												</svg>
												UPDATE
											</span>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="3.5" cy="11.5" r="2.5" transform="rotate(-90 3.5 11.5)" fill="#717579"></circle>
														<circle cx="11.5" cy="11.5" r="2.5" transform="rotate(-90 11.5 11.5)" fill="#717579"></circle>
														<circle cx="19.5" cy="11.5" r="2.5" transform="rotate(-90 19.5 11.5)" fill="#717579"></circle>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="javascript:void(0)">Delete</a>
													<a class="dropdown-item" href="javascript:void(0)">Edit</a>
												</div>
											</div>
										</div>
										<p class="font-w600 fs-18"><a href="javascript:void(0);" class="text-black">Update information in footer section</a></p>
										<div class="progress default-progress my-4">
											<div class="progress-bar bg-success progress-animated" style="width: 45%; height:10px;" role="progressbar">
												<span class="sr-only">45% Complete</span>
											</div>
										</div>
										<div class="row justify-content-between align-items-center kanban-user">
											<ul class="users col-6">
										<li><img src="{{ asset('images/contacts/pic11.jpg') }}" alt=""></li>
<li><img src="{{ asset('images/contacts/pic22.jpg') }}" alt=""></li>
<li><img src="{{ asset('images/contacts/pic33.jpg') }}" alt=""></li>
	</ul>
											<div class="col-6 d-flex justify-content-end">
												<span class="fs-14"><i class="far fa-clock me-2"></i>Due in 4 days</span>
											</div>
										</div>
									</div>
								</div>
								<div class="card draggable-handle draggable">
									<div class="card-body">
										<div class="d-flex justify-content-between mb-2">
											<span class="text-info">
												<svg class="me-2" width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
													<circle cx="5" cy="5" r="5" fill="#D653C1"></circle>
												</svg>
												Video
											</span>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="3.5" cy="11.5" r="2.5" transform="rotate(-90 3.5 11.5)" fill="#717579"></circle>
														<circle cx="11.5" cy="11.5" r="2.5" transform="rotate(-90 11.5 11.5)" fill="#717579"></circle>
														<circle cx="19.5" cy="11.5" r="2.5" transform="rotate(-90 19.5 11.5)" fill="#717579"></circle>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="javascript:void(0)">Delete</a>
													<a class="dropdown-item" href="javascript:void(0)">Edit</a>
												</div>
											</div>
										</div>
										<p class="font-w600 fs-18"><a href="javascript:void(0);" class="text-black">Update information in footer section</a></p>
										<div class="progress default-progress my-4">
											<div class="progress-bar bg-info progress-animated" style="width: 45%; height:10px;" role="progressbar">
												<span class="sr-only">45% Complete</span>
											</div>
										</div>
										<div class="row justify-content-between align-items-center kanban-user">
											<ul class="users col-6">
											<li><img src="{{ asset('images/contacts/new_pic1.jpg') }}" alt=""></li>
<li><img src="{{ asset('images/contacts/new_pic2.jpg') }}" alt=""></li>
<li><img src="{{ asset('images/contacts/new_pic3.jpg') }}" alt=""></li>
</ul>
											<div class="col-6 d-flex justify-content-end">
												<span class="fs-14"><i class="far fa-clock me-2"></i>Due in 4 days</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col">
						<div class="kanbanPreview-bx">
							<div class="draggable-zone dropzoneContainer">
								<div class="sub-card align-items-center d-flex justify-content-between mb-4">
								
								 
								</div>
								<div class="card draggable-handle draggable">
									<div class="card-body">
										<div class="d-flex justify-content-between mb-2">
											<span class="text-danger">
												<svg class="me-2" width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
													<circle cx="5" cy="5" r="5" fill="#FC2E53"></circle>
												</svg>
												BUGS FIXING
											</span>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="3.5" cy="11.5" r="2.5" transform="rotate(-90 3.5 11.5)" fill="#717579"></circle>
														<circle cx="11.5" cy="11.5" r="2.5" transform="rotate(-90 11.5 11.5)" fill="#717579"></circle>
														<circle cx="19.5" cy="11.5" r="2.5" transform="rotate(-90 19.5 11.5)" fill="#717579"></circle>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="javascript:void(0)">Delete</a>
													<a class="dropdown-item" href="javascript:void(0)">Edit</a>
												</div>
											</div>
										</div>
										<p class="font-w600 fs-18"><a href="javascript:void(0);" class="text-black">Update information in footer section</a></p>
										<div class="progress default-progress my-4">
											<div class="progress-bar bg-danger progress-animated" style="width: 45%; height:10px;" role="progressbar">
												<span class="sr-only">45% Complete</span>
											</div>
										</div>
										<div class="row justify-content-between align-items-center kanban-user">
											<ul class="users col-6">
										<li><img src="{{ asset('images/contacts/new_pic1.jpg') }}" alt=""></li>
<li><img src="{{ asset('images/contacts/new_pic2.jpg') }}" alt=""></li>
<li><img src="{{ asset('images/contacts/new_pic3.jpg') }}" alt=""></li>
</ul>
											<div class="col-6 d-flex justify-content-end">
												<span class="fs-14"><i class="far fa-clock me-2"></i>Due in 4 days</span>
											</div>
										</div>
									</div>
								</div>
								<div class="card draggable-handle draggable">
									<div class="card-body">
										<div class="d-flex justify-content-between mb-2">
											<span class="text-danger">
												<svg class="me-2" width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
													<circle cx="5" cy="5" r="5" fill="#FC2E53"></circle>
												</svg>
												BUGS FIXING
											</span>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="3.5" cy="11.5" r="2.5" transform="rotate(-90 3.5 11.5)" fill="#717579"></circle>
														<circle cx="11.5" cy="11.5" r="2.5" transform="rotate(-90 11.5 11.5)" fill="#717579"></circle>
														<circle cx="19.5" cy="11.5" r="2.5" transform="rotate(-90 19.5 11.5)" fill="#717579"></circle>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="javascript:void(0)">Delete</a>
													<a class="dropdown-item" href="javascript:void(0)">Edit</a>
												</div>
											</div>
										</div>
										<p class="font-w600 fs-18"><a href="javascript:void(0);" class="text-black">Update information in footer section</a></p>
										<div class="progress default-progress my-4">
											<div class="progress-bar bg-danger progress-animated" style="width: 45%; height:10px;" role="progressbar">
												<span class="sr-only">45% Complete</span>
											</div>
										</div>
										<div class="row justify-content-between align-items-center kanban-user">
											<ul class="users col-6">
											<li><img src="{{ asset('images/contacts/new_pic1.jpg') }}" alt=""></li>
<li><img src="{{ asset('images/contacts/new_pic2.jpg') }}" alt=""></li>
<li><img src="{{ asset('images/contacts/new_pic3.jpg') }}" alt=""></li>
</ul>
											<div class="col-6 d-flex justify-content-end">
												<span class="fs-14"><i class="far fa-clock me-2"></i>Due in 4 days</span>
											</div>
										</div>
									</div>
								</div>
								<div class="card draggable-handle draggable">
									<div class="card-body">
										<div class="d-flex justify-content-between mb-2">
											<span class="sub-title">
												<svg class="me-2" width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
													<circle cx="5" cy="5" r="5" fill="#FFA7D7"></circle>
												</svg>
												HTML
											</span>
											<div class="dropdown">
												<div class="btn-link" data-bs-toggle="dropdown">
													<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<circle cx="3.5" cy="11.5" r="2.5" transform="rotate(-90 3.5 11.5)" fill="#717579"></circle>
														<circle cx="11.5" cy="11.5" r="2.5" transform="rotate(-90 11.5 11.5)" fill="#717579"></circle>
														<circle cx="19.5" cy="11.5" r="2.5" transform="rotate(-90 19.5 11.5)" fill="#717579"></circle>
													</svg>
												</div>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="javascript:void(0)">Delete</a>
													<a class="dropdown-item" href="javascript:void(0)">Edit</a>
												</div>
											</div>
										</div>
										<p class="font-w600 fs-18"><a href="javascript:void(0);" class="text-black">Create wireframe for landing page phase 1</a></p>
										<div class="progress default-progress my-4">
											<div class="progress-bar bg-design progress-animated" style="width: 45%; height:10px;" role="progressbar">
												<span class="sr-only">45% Complete</span>
											</div>
										</div>
										<div class="row justify-content-between align-items-center kanban-user">
											<ul class="users col-6">
										<li><img src="{{ asset('images/contacts/new_pic1.jpg') }}" alt=""></li>
<li><img src="{{ asset('images/contacts/new_pic2.jpg') }}" alt=""></li>
<li><img src="{{ asset('images/contacts/new_pic3.jpg') }}" alt=""></li>
</ul>
											<div class="col-6 d-flex justify-content-end">
												<span class="fs-14"><i class="far fa-clock me-2"></i>Due in 4 days</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					
				</div>	
            </div>
        </div>
        </div>
        </div>
<script src="{{ asset('vendor/global/global.min.js') }}"></script>
<script src="{{ asset('vendor/jquery-nice-select/js/jquery.nice-select.min.js') }}"></script>
<script src="{{ asset('vendor/draggable/draggable.js') }}"></script>
<script src="{{ asset('js/custom.min.js') }}"></script>
<script src="{{ asset('js/dlabnav-init.js') }}"></script>
<script src="{{ asset('js/demo.js') }}"></script>
<script src="{{ asset('js/styleSwitcher.js') }}"></script>


{% endblock %}
