{% extends 'base.html.twig' %}

{% block title %}ReponseCommentaire{% endblock %}

{% block body %}
    <h1>ReponseCommentaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reponse_commentaire.id }}</td>
            </tr>
            <tr>
                <th>ContenuRepCom</th>
                <td>{{ reponse_commentaire.contenuRepCom }}</td>
            </tr>
            <tr>
                <th>NomRepCom</th>
                <td>{{ reponse_commentaire.nomRepCom }}</td>
            </tr>
            <tr>
                <th>DateRepCom</th>
                <td>{{ reponse_commentaire.dateRepCom ? reponse_commentaire.dateRepCom|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reponse_commentaire_index') }}">back to list</a>

    <a href="{{ path('app_reponse_commentaire_edit', {'id': reponse_commentaire.id}) }}">edit</a>

    {{ include('reponse_commentaire/_delete_form.html.twig') }}
{% endblock %}
